<div class="view-height">
  <div class="col-xs-10 view-height text-center">
    <div class="panel panel-default view-height">
      <div class="panel-body view-height">
       <form id="curl" name="curl" class="card">
         <div class="row">
           <div class="col-xs-9 form-group">
             <input type="text" placeholder="First Name" name="firstName"
                    ng-model="user.firstName" class="form-control has-error"
                    ng-minlength="200" required>
             </div>
           </div>
         </div>
       </form>
      </div>
      <div class="panel-footer">Panel footer</div>
    </div>
  </div>
</div>
